<?xml version="1.0" encoding="UTF-8"?>

<beans>

    <bean id="baseService" class="com.tiv.mini.spring.BaseService">
        <!--        <property name="bbs" type="com.tiv.mini.spring.BaseBaseService" ref="baseBaseService"/>-->
    </bean>

    <bean id="testService" class="com.tiv.mini.spring.TestServiceImpl">
        <constructor-arg name="name" type="String" value="test1"/>
        <constructor-arg name="level" type="int" value="1"/>
        <property name="property1" type="String" value="p1"/>
        <property name="property2" type="String" value="p2"/>
        <property name="ref1" type="com.tiv.mini.spring.BaseService" ref="baseService"/>
    </bean>

    <bean id="baseBaseService" class="com.tiv.mini.spring.BaseBaseService">
        <property name="ts" type="com.tiv.mini.spring.TestServiceImpl" ref="testService"/>
    </bean>

</beans>
